# C++ build files
/build
*.o
*.so
*.exe

# Go build artifacts
/server/bin
/server/main
*.exe

# Docker files
docker-compose.override.yml

# Editor files
*.swp
*.swo
*.vscode/*

# server executable
gpu-ai-inference-server

#other installed packages
*.tar.gz
